<!DOCTYPE html>
<html>
    <head>
        <title>List of Rings</title>
    </head>
     <body>
         <h1>Hello!! List page..</h1>
         <p1>this is my HTML......</p1>
         <div>
             <center>
                 <marquee direction="right">rediction to HTML page from Controller using render_template('file.html')</marquee>
                <br></br>
                <table border="1">
                    <form method="post">
                    <tr><td>Email Id : <input type="email" name="mail_data"></td></tr>
                    <tr><td>Password : <input type="password" name="pass_enc"></td></tr>
                    <tr><td>UserName : <input type="text" name="uid_name"></td></tr>
                    <tr><td>Number1 : <input type="text" name="x_val"></td></tr>
                    <tr><td>Number2 : <input type="text" name="y_val"></td></tr>
                    <td><center><input type="submit" name="submit"></center></td>
                    </form>
                </table>
             </center>
         </div>
     </body> 
</html>