<!DOCTYPE html>
<html>
    <head>
        <title>Profile Calculator</title>
    </head>
     <body>
         <div>
             <center>
                <i><h1>Profile Details</h1></i>
                <br></br>
                <table border="1">
                    <tr><td>Email Id : {{emailData_var}} </td></tr>
                    <tr><td>Password : {{pwdData_var}}</td></tr>
                    <br>
                    <tr><td>Sum          : {{sumVal}}</td></tr>
                    <tr><td>Substraction : {{subVal}}</td></tr>
                    <tr><td>Product      : {{prodVal}}</td></tr>
                    <tr><td>Quotient     : {{quoVal}}</td></tr>
                    <tr><td>Remainder    : {{reminVal}}</td></tr>
                </table>
             </center>
         </div>
     </body> 
</html>